.MyInputs{
    border: none;
    border-bottom: 1px black solid;
    outline: none;
    width: 100%;
    text-align: center;
}

.MyBlogButton{
    margin: 2px;
    background-color: inherit;
    outline: none;
    border: none;
    border-bottom: 1px lightgray solid;
}

.MyBlogButton:hover{
    border-bottom: 1px black solid;
}

.Title{
    font-size: 30px;
}
.MyTextArea{
width: 100%;
outline: none;
height: 40vh;
resize: none;
}


.ThubmnailLabel{
 border: 1px black solid;
    
}

.ThubmnailLabel:hover{
    width: 100%;
    text-decoration: underline;
    cursor: pointer;
}

.dropzone{
    height: 20vh;
    border: 1px black solid;
    transition: background 0.5s;
}

.ListImageContainer{
    height: 10vh;
    width: 10vh;
}

.ImageOnlist{
    object-fit: contain;
    width: 100%;
    height: 100%;;
}

.ListElement{
    height: 10vh;

}
.FileListName{
    overflow: hidden;
    padding-top: 4vh;
}
.MyButtonList{
    margin: 2px;
    background-color: inherit;
    outline: none;
    border: none;
    border-bottom: 1px lightgray solid;
    height: 18px;
    margin-top: 4vh;
}

.MyButtonList:hover{
    border-bottom: 1px red solid;
}

.ThumbnailImageDisplay{
    padding-right: 15px;
    padding-left: 15px;
}

.CancelBtn{
    background-color:lightcoral ;
}

.AddPostBtn{
    background-color: lightgreen;
}



.WarningPool{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.664);
    top: 0%;
    left: 0%;
    z-index: 990;
    display: none;

}

.InformationDiv{
    position: fixed;
    display: inline-block;
    border-radius: 5px;
    top: 30%;
    width: 400px;
    margin-left: -200px;
    left: 50%;
    background-color: rgb(253, 201, 122);
    border: 1px black solid;
    padding: 1em;

}