.tag{
    position: relative;
    background-color: darkgray;
    padding: 2px;

    z-index: 1;
}

.tag:hover{
    background-color: rgb(103, 101, 101);
    text-decoration: underline;
    cursor: pointer;
}

a{
    color: inherit;
}
a:active{
    text-decoration: none;
}

a:hover{
color: inherit;
}

.DeleteDiv{
    position: absolute;
    background-color: rgb(255, 154, 154);
    border-radius: 4px;
    text-align: center;
    z-index: -1;
    padding: 1.3px;
    padding-right: 10px;
    margin-top: -22px;
    transition: margin 0.5s;
    cursor: pointer;
    width: 0px;
}


.AllContainer:hover .DeleteDiv{
    margin-left: -15px;
    z-index: 1;
    width: auto;
}

.AllContainer:hover .tag{
    z-index: 2;
    }

.AllContainer{
    margin: 2px;
}

.AllContainer:hover{
    cursor: pointer;
}
