.ProfileImage{
object-fit: cover;
width: 100%;
border-radius: 20%;
height: 16vw;
}

.ProfileDiv{
 width: inherit;

}

.ResponsiveText{
    font-size: 2vw;
}

.nav-element-choosen{
    background-color: lightgray;
    border-bottom: 1px black solid;
}