.MyInput{
    width: 20vw;
}

.Option{
    cursor: pointer;
    background-color: white;
    border-bottom: 1px white solid;
}

.Option:hover{
    background-color: darkgray;
    border-bottom: 1px black solid;
}

.OptionIndexhover{
    background-color: darkgray;
    border-bottom: 1px black solid;
}

.OptionsContainer{
    position: absolute;
    overflow-y: scroll;
    max-height:100px;
    border: 1px black solid;
    transition: cubic-bezier(.92,-0.02,.25,.99) max-height 0.3s;
    width: 20vw;
    background-color: white;
}

.OptionsContainerHIDE{
    max-height: 0px;
    border: 1px transparent solid;
}