.PasswordInput{
    color: black;
    outline: none; 
    border:none; 
    border-bottom: 1px black solid;
    background-color: inherit;
   }

.ChangePasswordButton{
    border:none;
    margin: 2px;
    border-bottom: 1px transparent solid;
    background-color: white;
    outline: none;
    border-bottom: 1px darkgray solid;
}


.ChangePasswordButton:hover{
    border-bottom: 1px black solid;

}