<div class="row">
    <div class="col col-10 offset-1 pt-2">
        <h6>Change Curent Password:</h6>
        <div>
                <input type="password" class="PasswordInput btn-block" placeholder="New Password" [(ngModel)]="NewPassword" (keyup)="CheckNewPassword()" name="NewPassword">       
        </div>
        <div>
                <input type="password" class="PasswordInput btn-block" placeholder="Repeat Password" [(ngModel)]="ConfirmNewPassword" (keyup)="CheckNewPassword()" name="ConfirmNewPassword">        
        </div>
        <div *ngIf="NewPasswordMessage.message" class="rounded text-center"
        [ngClass]="{
            'alert-danger': NewPasswordMessage.type==1,
            'alert-success':NewPasswordMessage.type==2
        }">
            {{NewPasswordMessage.message}}
        </div>
        <div class="text-center">
                <button class="ChangePasswordButton" (click)="ChangePasswordButton()">Change Password</button>
        </div>
        <div class="m-0" style="text-align: left;">
                Password must have:
                <ul>
                        <li>At least 6 characters</li>
                        <li>At least one uppercase character</li>
                        <li>At least one lowercase characer</li>
                </ul>                                
                </div>
    </div>

    <app-confirm-identity (Password)="GetTypedPassword($event)" id="ConfirmPassword" style="display: none"></app-confirm-identity>
</div>
