<html>
<!--wyszukiwarka itd-->

 <div class="shadow shadow-sm m-0 p-2 mynavbar d-flex  justify-content-between" id="nav">
  <div class="navbar-nav  flex-sm-row">
    <a routerLink="" class="nav-item"><h4>Blog :P</h4></a>
    <a routerLink="/news" class="nav-element ml-2"><h4>News</h4></a>
  </div>
  
  
  <div *ngIf="auth.LoggedIn; then LoggedIn else NotLoggedIn">    </div>
  
  
  <ng-template #NotLoggedIn>
    <div class="navbar-nav  flex-sm-row">
        <a routerLink="/register" class="nav-element ml-2"><h4>Register</h4></a>
        <button (click)="ShowLogin()" class="nav-element ml-2 plainButton"><h4>Log in</h4></button>
    </div>


    <div class="LoginDiv shadow-sm shadow" [class.DisplayLogin]="showLogin" id="LoginDiv" > 
        <div class="row">
          <h6 class="col-7 offset-2 offset offset">Login Form</h6>
          <button (click)="HideLogin()" class="exitcross col-2"><strong>X</strong></button>
        </div>
        <form class="text-center">
            <div *ngIf="LoginStatus.message" class="alert-danger rounded">
            <p> {{LoginStatus.message}}</p>
            </div>
          <input type="text" [(ngModel)]="Login" name="Login" class="form-control mb-1 mt-1" placeholder="login" (keydown.enter)="SendLogin()" id="LoginInput">
          <input type="password" [(ngModel)]="Password" name="Password" class="form-control mb-1" placeholder="password" (keydown.enter)="SendLogin()"> 
          <button (click)="SendLogin()" class="btn btn-dark" >Login</button>
        </form>
      </div> 
  </ng-template>

    <ng-template #LoggedIn>
      <div class="navbar-nav  flex-sm-row" >
        <a routerLink="/blog/myblog" class=" nav-element ml-2"><h4>My BLog</h4></a>
        <a routerLink="/user/profile" class=" navbar-nav flex-sm-row ml-2">
          <img src="{{auth.SimpleUserData.ProfilePic}}" class="ProfilePic">
          <h4 class="nav-element ml-2">Profile</h4> 
        </a>
        <button (click)="LogOut()" class="nav-element ml-2 plainButton"><h4>Log out</h4></button>   
      </div>

    </ng-template>
  </div> 



  <div class="container pt-4">
  
    <router-outlet></router-outlet> <!--changing content-->
    <app-main-messages></app-main-messages>
  </div>

<!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>