<div><!--entire Post!-->
    <div>
        <img class="picture-container" src="{{BaseServerPath + _post.Thumbnail}}">
        <img class="normal-picture" src="{{BaseServerPath + _post.Thumbnail}}">
    </div>
    <div class="text-center">
       <h1>{{_post.Title}}</h1> 
    </div>

    <div class="pt-1">
        <h6><Strong>{{_post.DateOfPost | date}}</Strong> </h6>
    </div>
    <div>
            {{_post.ContentOne}}
    </div>
    <div>
            {{_post.ContentTwo}}
    </div>
    <br>
    <hr/>
    <Strong>
        Tags:
    </Strong>
    <div class="d-flex flex-wrap">
        <div class="" *ngFor="let tag of _post.PostTags">
            <app-tag [name]="tag"></app-tag>
        </div>        
    </div>

</div>
