<div class="shadow shadow-sm">
    <div class="TitleDiv ">
        <h3>{{MyBlog.BlogName}}</h3>
    </div>
    <div class="row">
        <div class="col-auto">
            Description:
        </div>
        <div class="col-auto">
            {{MyBlog.Description}}
        </div>
    </div>
    <div>
        Created Day: {{MyBlog.DateOfCreated| date}}
    </div>
    <hr>
    <div class="ButtonsDiv">
        <button class="MyBlogButton" (click)="ChangeDescription()">Edit Description</button>
        <button class="MyBlogButton" (click)="AddPostButton()">Add Post</button>
        <button class="MyBlogButton" >Delete Blog</button>
        <app-edit-description id="DescriptionEdit" style="display: none;" [Description]="MyBlog.Description" ></app-edit-description>
    </div>
    <div class="PostsContainer">
        <div *ngFor="let postelem of MyBlog.Posts" class="row">

                <app-post-modyfication-panel [SpecyficPost]="postelem" class="col-auto"></app-post-modyfication-panel>
                <app-post-element [_post]="postelem" class="col "></app-post-element>
        </div>
    </div>
